@import "tailwindcss";

@theme {
  --color-dark: #0B0B0B;
  --color-off-white: #F5F5F2;
  --color-smoke: #A3A3A3;
  --color-beige: #E8E5DA;
  --font-family-sans: "Montserrat", sans-serif;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--color-off-white);
  color: var(--color-dark);
}
